{{> layout}}

<h2>User Profile</h2>

<!-- Display the user's username -->
<p>Welcome, {{user.username}}!</p>

<h3>Recipes</h3>
{{#if user.recipes}}
  <ul>
    {{#each user.recipes}}
      <!-- Display a link to each of the user's recipes -->
      <li><a href="/recipes/{{this.id}}">{{this.title}}</a></li>
    {{/each}}
  </ul>
{{else}}
  <p>No recipes yet.</p>
{{/if}}

<h3>Comments</h3>
{{#if user.comments}}
  <ul>
    {{#each user.comments}}
      <li>
        <!-- Display the text of the user's comment -->
        <p>{{this.text}}</p>
        <!-- Display the date and time the comment was posted, as well as a link to the recipe it was posted on -->
        <small>Posted on {{dateFormat this.createdAt}} on recipe <a href="/recipes/{{this.recipe.id}}">{{this.recipe.title}}</a></small>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No comments yet.</p>
{{/if}}
